/** {
    margin: 0;
    padding: 0;
}*/

body {
    background-color: #bbffdd;
}

main {
    background-color: white;
    padding: 20px;
    margin: 0;
    overflow: auto;
    min-height: 90vh;
}

footer {
    background-color: #eeffee;
}

h1, h3 {
    text-align: center;
}

.ratings {
    padding-left: 0;
}

.rating {
    margin: 0 auto;
    list-style-type: none;
    padding: 10px;
    background-color: #dddddd;
    display: flex;
    flex-wrap: wrap;
}

.rating > span:first-of-type {
    flex-grow: 4;
}

.rating > span:last-of-type {
    flex-grow: 1;
}

.dtElement {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #dddddd;
    box-shadow: 0 3px 2px rgba(50, 50, 50, .4);
    border-top: solid 1px #dddddd;
    border-left: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
}

.ddElement {
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0pt 3px 2px rgba(50, 50, 50, .4);
    border-top: solid 1px #dddddd;
    border-right: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
}

/*.details {
    padding: 10px;
    margin-bottom: 5px;
    box-shadow: 1pt 3pt 8pt rgba(50, 50, 50, .4);
}*/

.workCard {
    width: 80%;
    margin: 25px auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    border: 2px solid #dddddd;
    box-shadow: 2px 3px 8px rgba(50, 50, 50, .4);
}

.workCard:hover {
    border: 2px solid rgba(100, 150, 50, .4);
    box-shadow: 4px 5px 15px rgba(100, 150, 50, .8);
}

.workCard > a {
    color: black;
}

.item {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.item__parameter {
    padding: 5px;
    background-color: #dddddd;
}

.item__value {
    padding: 5px;
}

.workLinks {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 400px) {
    .workCard {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 300px) {
    .item {
        grid-template-columns: 1fr;
    }

    .item__parameter {
        display: none;
    }
}
