@model WorkQuality.Models.Assessment

@{
    ViewData["Title"] = "Edit";
}

<h1>Змінити</h1>

<h4>Оцінювання</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssessDate" class="control-label"></label>
                <input asp-for="AssessDate" class="form-control" />
                <span asp-validation-for="AssessDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TechnicalKnowledgeScore" class="control-label"></label>
                <input asp-for="TechnicalKnowledgeScore" class="form-control" />
                <span asp-validation-for="TechnicalKnowledgeScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AbilityToApplyTechnicalKnowledgeScore" class="control-label"></label>
                <input asp-for="AbilityToApplyTechnicalKnowledgeScore" class="form-control" />
                <span asp-validation-for="AbilityToApplyTechnicalKnowledgeScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberAndSeverityOfErrorsScore" class="control-label"></label>
                <input asp-for="NumberAndSeverityOfErrorsScore" class="form-control" />
                <span asp-validation-for="NumberAndSeverityOfErrorsScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreativityOfSolutionsScore" class="control-label"></label>
                <input asp-for="CreativityOfSolutionsScore" class="form-control" />
                <span asp-validation-for="CreativityOfSolutionsScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplianceOfWorkWithRequirementsScore" class="control-label"></label>
                <input asp-for="ComplianceOfWorkWithRequirementsScore" class="form-control" />
                <span asp-validation-for="ComplianceOfWorkWithRequirementsScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductivityScore" class="control-label"></label>
                <input asp-for="ProductivityScore" class="form-control" />
                <span asp-validation-for="ProductivityScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamworkScore" class="control-label"></label>
                <input asp-for="TeamworkScore" class="form-control" />
                <span asp-validation-for="TeamworkScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectManagementSkillsScore" class="control-label"></label>
                <input asp-for="ProjectManagementSkillsScore" class="form-control" />
                <span asp-validation-for="ProjectManagementSkillsScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainingAndDevelopmentScore" class="control-label"></label>
                <input asp-for="TrainingAndDevelopmentScore" class="form-control" />
                <span asp-validation-for="TrainingAndDevelopmentScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContributionToOverallGoalsScore" class="control-label"></label>
                <input asp-for="ContributionToOverallGoalsScore" class="form-control" />
                <span asp-validation-for="ContributionToOverallGoalsScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QualityCustomerServiceScore" class="control-label"></label>
                <input asp-for="QualityCustomerServiceScore" class="form-control" />
                <span asp-validation-for="QualityCustomerServiceScore" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Rating" hidden class="control-label"></label>
                <input asp-for="Rating" hidden class="form-control" />
                <span asp-validation-for="Rating" hidden class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутись до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
